<?xml version="1.0" encoding="utf-8"?>
    <packages>
		<!-- <package id="vcredist2010" />
		<package id="vcredist2012" />
		<package id="vcredist2013" />
		<package id="vcredist140" />  -->
		<package id="bind-toolsonly" />
		<package id="git" />
		<!-- <package id="nmap" /> -->
		<!-- <package id="sql-server-management-studio" /> 
		<package id="vscode" /> -->
		<package id="7zip" />
		<!-- <package id="fzf" />
		<package id="python" /> -->
		<!-- <package id="filezilla" />
		<package id="slack" />  -->
    </packages>
